In [4]:
import pandas as pd
!pwd

/home/ubuntu/datafiles

In [13]:
df = pd.read_csv('../weblog.csv')

In [14]:
df.head()

,IP,Time,URL,Staus
0,10.128.2.1,[29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
1,10.128.2.1,[29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
2,10.128.2.1,[29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
3,10.131.2.1,[29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
4,10.130.2.1,[29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200

In [15]:
df.describe()

                IP    Time                      URL  Staus
count        16007   16007                    16007  16007
unique          16    7307                      314     13
top     10.128.2.1  cannot  GET /login.php HTTP/1.1    200
freq          4257     167                     3284  11330

In [18]:
df.dtypes

IP       object
Time     object
URL      object
Staus    object
dtype: object

In [20]:
dp = pd.read_csv('../weblog.csv', header = 0,  dtype = {'IP': str,'Time': str,
                                                      'URL': str,'status': int}, engine = 'c')

In [21]:
dp.head()

,IP,Time,URL,Staus
0,10.128.2.1,[29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
1,10.128.2.1,[29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
2,10.128.2.1,[29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
3,10.131.2.1,[29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
4,10.130.2.1,[29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200

In [22]:
dp.dtypes

IP       object
Time     object
URL      object
Staus    object
dtype: object

In [25]:
for col in dp.columns:
    print( 'column', col,':', type(col))

column IP : <class 'str'>
column Time : <class 'str'>
column URL : <class 'str'>
column Staus : <class 'str'>

In [32]:
df = pd.read_csv('../weblog.csv')

In [33]:
for col in df.columns:
    print( 'column', col,':', type(col))

column IP : <class 'str'>
column Time : <class 'str'>
column URL : <class 'str'>
column Staus : <class 'str'>

In [34]:
df['Time'] = df['Time'].str.slice(start=1)

In [35]:
df.head()

,IP,Time,URL,Staus
0,10.128.2.1,29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
1,10.128.2.1,29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
2,10.128.2.1,29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
3,10.131.2.1,29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
4,10.130.2.1,29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200

In [41]:
pd.to_datetime('29/Nov/2017:06:59:02', format='%d/%b/%Y:%H:%M:%S', errors='ignore')

Timestamp('2017-11-29 06:59:02')

In [44]:
df['Time'] = pd.to_datetime(df['Time'], format='%d/%b/%Y:%H:%M:%S', errors='coerce')

In [45]:
df.head()

,IP,Time,URL,Staus
0,10.128.2.1,2017-11-29 06:58:55,GET /login.php HTTP/1.1,200
1,10.128.2.1,2017-11-29 06:59:02,POST /process.php HTTP/1.1,302
2,10.128.2.1,2017-11-29 06:59:03,GET /home.php HTTP/1.1,200
3,10.131.2.1,2017-11-29 06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
4,10.130.2.1,2017-11-29 06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200

In [48]:
df.loc[df['Time'] == Null]

NameError: name 'Null' is not defined

In [49]:
df[df['Time'].isnull()]

           IP Time           URL Staus
1773   chmod:  NaT      'a.out':    No
1774   chmod:  NaT  'error.txt':    No
1775      rm:  NaT        '*.o':    No
1776      rm:  NaT      'a.out':    No
1782   chmod:  NaT  'error.txt':    No
...       ...  ...           ...   ...
15896     rm:  NaT        '*.o':    No
15897     rm:  NaT      'a.out':    No
15900  chmod:  NaT      'a.out':    No
15901  chmod:  NaT  'error.txt':    No
15902     rm:  NaT        '*.o':    No

[218 rows x 4 columns]

In [50]:
df.isnull().values.any()

True

In [52]:
df.isnull().values

array([[False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       ...,
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False]])